.languages {
  padding-top: 3rem;
  grid-column: center-start/center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;

  &__heading {
    grid-column: 1/-1;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__logo {
    fill: $color-grey-dark-2;
    width: 3rem;
    height: 3rem;
    @media screen and (max-width: $bp-smallest) {
      height: 2rem;
    }
  }
  .technology {
    &__logo {
      width: 15rem;
      @media screen and (max-width: $bp-smallest) {
        width: 6rem;
      }
    }
    text-align: center;
  }
}
